In [8]:
import pandas as pd

dataFrame1 = pd.read_csv('學生成績1.csv')
dataFrame1.index = dataFrame1['姓名']
dataFrame2 = dataFrame1[['國文','英文','數學','地理','歷史']]
dataFrame2

     國文  英文  數學  地理   歷史
姓名
溫重意  91  74  81  54   84
王梅劭  62  76  89  75   64
蘇婷婷  63  87  86  55   50
王雅慧  81  62  73  99   78
陳樂紫  70  59  58  59   76
鄭琇亞  58  99  87  81   69
李湘婷  67  65  94  92   82
陳得映  67  84  79  70   63
游倫城  83  80  60  81   87
孫火清  54  66  94  58  100